/* Global Styles */
:root {
  --primary-color: #1abdb2;
  --secondary-color: #ffbb01;
  --bg1-color: #f5f7fb;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
  --primary-font: 'Shabnam';
  --secondary-font: 'Yekan-Bakh';
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

@font-face {
  font-family: 'Shabnam';
  src: url('fonts/Shabnam.eot');
  src: url('fonts/Shabnam.eot?#iefix') format('embedded-opentype'),
       url('fonts/Shabnam.woff') format('woff'),
       url('fonts/Shabnam.ttf') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Yekan-Bakh';
  src: url('fonts/Yekan-Bakh.TTF') format('truetype');
       font-weight: normal;
       font-style: normal;
}

@font-face {
  font-family: 'Yekan-Bakh-heavy';
  src: url('fonts/Yekan-Bakh-heavy.TTF') format('truetype');
       font-weight: normal;
       font-style: normal;
}

body {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.6;
  background-color: var(--bg1-color);
  color: #333;
  direction: rtl;
}

a {
  color: var(--primary-color);
  text-decoration: none;
}

ul {
  list-style: none;
}


/* Navbar */
.navbar ul{
  display: flex;
  align-items: center;
}

.navbar ul.navbar-links {
  padding-right: 140px;
}

.navbar ul.navbar-auth {
  margin: 0 90px 0 0;
}

.navbar ul.navbar-actions {
  margin: 0 auto 0 0;
}

.navbar-links li {
  padding: 2rem;
  margin: 0 .25rem;
}

.navbar-actions li {
  padding: 1rem;
  margin: 0 .25rem;
}

.navbar-auth li {
  padding: 13px 1.5rem;
  margin: 0 .25rem;
}

.navbar-auth .signup-btn{
  border: 1.2px solid var(--primary-color);
  border-radius: 20px;
}

.navbar li span {
  padding-left: 8px;
  vertical-align: middle;
}

.navbar{
  display: flex;
  width: 100%;
  background-color: white;
  height: 110px;
  padding: 0px 160px;
}

.navbar h1{
  font-family: var(--secondary-font);
  font-size: 28.5px;
  display: flex;
}

.navbar-logo{
  display: flex;
  align-items: center;
}

.navbar-logo img{
  width: 48px;
}

.navbar-logo h1{
  padding-right: 6px;
}

.navbar-logo h1 span{
  padding-left: 6px;
}

.navbar h1 span{
  font-family: 'Yekan-Bakh-heavy';
  font-size: 28.5px;
}