section.landing{
  padding: 120px 0;
}

.landing h2{
  font-size: 40px;
  color: var(--primary-text-color);
  font-weight: unset;
}

.landing h2 img{
  vertical-align: middle;
  padding-left: 12px;
}

div.sub-landing{
  padding-right: 30px;
}

ul.receipt-actions{
  display: flex;
}

ul.receipt-actions li{
  padding: 2.2rem 1rem 2.2rem 6rem;
  margin: 0 .25rem;
  font-size: 22px;
  display: flex;
}

ul.receipt-actions li a{
  color: #bcc2d1;
}

ul.receipt-actions .active{
  color: var(--primary-text-color);
}

ul.receipt-actions li a .radio-btn{
  vertical-align: middle;
}

ul.receipt-actions li a span.active{
  color: red;
}